.hero-section {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background-color: #f6f1eb;
}

.card {
  display:grid;
  grid-template-columns: 1fr 1fr;
  min-height: 650px;
  padding: 40px; 
  max-width: 5000px;
  width: fit-content;
  background: white;
  border-radius: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6d8dd; 
  gap: 40px; 
  align-items: center; 
}


/* desktop layout */
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

.hero-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  max-width: 600px;
  margin: 0;
}

@media (min-width: 768px) {
  .hero-text {
    text-align: left;
  }
}

.hero-subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #8b6f47;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 12px;
} 

.hero-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  font-style: oblique;
  margin: 0;
}

.aloneText {
    color:#7a1e2c;
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 5rem;
  }
}

.hero-description {
  margin-top: 16px;
  color: #444;
  line-height: 1.6;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

}

.hero-buttons button {
  margin-right: 10px;
  padding: 12px 18px;
  background-color: #e2cad0;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;

}

.hero-buttons button:hover {
  background-color: #a35363;
  transform: translateY(-2px);
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; /* important for mobile */
}

.hero-image-wrapper {
  flex: 1;
  max-width: 500px;
}

.hero-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}